<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<!-- Deshabilita WebDAV -->
			<modules>
				<remove name="WebDAVModule" />
			</modules>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath=".\Tpo.exe" stdoutLogEnabled="true" stdoutLogFile="d:\logs\Tpo" hostingModel="inprocess" />
		</system.webServer>
		<system.web>
			<globalization culture="es-AR" uiCulture="es-AR" />
		</system.web>
	</location>
</configuration>
